<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="Zad3Contract.Kalkulator" behaviorConfiguration="zachowanieSerwisu">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10002"/>
          </baseAddresses>
        </host>
        <endpoint address="/endpoint1" binding="wsHttpBinding" contract="Zad3Contract.IKalkulator"></endpoint>
        <endpoint name="endpoint2" address="/endpoint2" binding="wsHttpBinding" contract="Zad3Contract.IKalkulator"></endpoint>
        <endpoint name="endpoint3" address="http://localhost:20002/endpoint3" binding="wsHttpBinding" contract="Zad3Contract.IKalkulator"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="zachowanieSerwisu">
          <serviceThrottling maxConcurrentCalls="5" maxConcurrentSessions="5" maxConcurrentInstances="5"/>
          <serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>